<section class="section">
  <div class="container">
    <div class="columns">
      <% if member_signed_in? %>
        <%= render "profile" %>
        <%= render "compose" %>
      <% end %>
    </div>
  </div>
  <%= render "feed" %>
</section>
